<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Powiadomienia <i class ="fa fa-comment-o"></i>
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <li><span color-="green">Brak</span></li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <li>
    <a href="{{notificationPostPath}}">
      <strong>{{commenterName}}</strong> skomentował twój post.
    </a>
  </li>
</template>
