<template name="postSubmit">

     <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">Link</label>
        <div class="controls">
            <input name="url" type="text" value="" placeholder="Link do źródła"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Tytuł</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Nazwij mnie :)"/>
        </div>
    </div>

 <div class="control-group">
        <label class="control-label" for="postbody">Treść</label>
        <div class="controls">
            <input name="postbody" type="text" value="" placeholder="Wpisz tresc"/>
        </div>
    </div> 
<div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
</form>


</template>
